div#Index
 section#skelton
 footer
  div
   nav.footer-left.btn-group
    a.btn(href="/user/list")
     i.icon-user
   nav.footer-right.btn-group
    a.btn.dropdown(href="/explore")
     i.icon-refresh
    a.btn(href="/user/logout")
     i.icon-off