div#Detail
 div
 footer
  div
   nav.footer-left.btn-group
    a.btn(href="").fast-backward
     i.icon-fast-backward
    a.btn(href="").backward
     i.icon-backward
    a.btn(href="").home
     i.icon-th-list
    a.btn(href="").forward
     i.icon-forward
    a.btn(href="").fast-forward
     i.icon-fast-forward
   nav.footer-right.btn-group
    a.btn(href="/user/logout")
     i.icon-off