doctype 5
html
 head
  title Fexy Manager || Web strage explorer and viewer
  meta(http-equiv="Cache-Control",content="no-cache")
  meta(name="viewport", content="width=device-width")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/fexy.css')
  script(src="/js/jquery-1.8.1.min.js", type="text/javascript")
  script(src="/js/bootstrap.min.js", type="text/javascript")
  script(src="/js/fexy.js", type="text/javascript")
  //[if lte IE 8]><script type="text/javascript" src="/js/html5.js"></script><![endif]
 body
  header.navbar.navbar-fixed-top
   #Information.container-fluid Information Area
   #Navi.navbar-inner.hide
    button.btn.btn-navbar.pull-left(type="button",data-toggle="collapse",data-target=".nav-collapse")
     span.icon-bar
     span.icon-bar
     span.icon-bar
    form#Search.pull-right.container-fluid.form-search.navbar-form(name="Search", action="#",method="get")
     .input-append
      input.span2.search-query(type="text")
      button.btn(type="submit")
       i.icon-search
    .nav-collapse.collapse
     ul#NaviMenu.nav
      li
       a(href="#")
        i.icon-tags
        | Tags
      li
       a(href="#")
        i.icon-refresh
        | Sync
      li
       a(href="/upstream")
        i.icon-arrow-up
        | Upstream
      li
       a(href="/user/logout")
        i.icon-off
        | Logout
  #Wrapper
   .container-fluid
    #Message.alert.alert-info.hide
     button.close(type="button") ×
     span
   #Login.hide.container-fluid
    form#LoginForm.box(name="LoginForm", action="/user/login.json",method="post")
     label UserID
     input#username.input-block-level(type="text", name="username", placeholder="Input UserID here.", maxlength="12", "ime-mode"="off")
     label Password
     input#password.input-block-level(type="password", name="password", placeholder="Input Password here.", maxlength="12", "ime-mode"="off")
     input#submitLogin.btn.btn-primary(type="submit",value="Login", data-loading-text="Loading...")
   #Index.view.hide
    ul.media-list
     li.media.container-fluid.hide
      img.pull-left.media-object(src="/img/noimage.jpg")
      .media-body
       h4.media-heading (non-title)
       | (non-tags)
   #Detail.view.hide
    .media.container-fluid
     img.pull-left.media-object(src="/img/noimage.jpg")
     .media-body
      h3.media-heading Non-Title
      | Non description
      hr
      button.btn.closeDetail(type="button") Close
      button#BtnFull.btn.btn-primary(type="button") View
   #Full.view.hide
  #HiddenForm.hide
   form#Action(name="Action", action="#",method="get")