doctype 5
html
 head
  title Fexy Manager || Web strage explorer and viewer
  link(rel='stylesheet', href='/css/fexy.css')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
  script(src="/js/jquery-1.8.1.min.js", type="text/javascript")
  script(src="/js/bootstrap.min.js", type="text/javascript")
  script(src="/js/app.js", type="text/javascript")
  script(src="/js/view.js", type="text/javascript")
  script(src="/js/detail.js", type="text/javascript")
  script(src="/js/index.js", type="text/javascript")
  script(src="/js/login.js", type="text/javascript")
  meta(name="viewport", content="width=920, initial-scale=1.0, user-scalable=yes, maximum-scale=2.0, minimum-scale=1.0, ")
  meta(http-equiv="Cache-Control",content="no-cache")
  //[if lte IE 8]><script type="text/javascript" src="/js/html5.js"></script><![endif]
 body
   header
    div
     h1
      a#header-logo(href="/") Fexy
   div#wrapper.container-fluid
    div#Message.alert.alert-info.hide
    include login
    include folderindex
    include folderdetail
