module.exports = {

	"folders": {
		"root": __dirname+"/../folders/",
		"upstream": __dirname+"/../upstream/",
		"info": ".info.json"
	},
	"dbs": {
		"connection": "mongodb://localhost/fexy",
	},
	"logs": {
		"path": __dirname+"/../logs/fexy.log",
		"level": 4 // 1: fatal, 2: warn, 3: notice, 4: debug
	},
	"encode" : "UTF-8"
}