doctype 5
html
 head
  title Fexy Manager || Web strage explorer and viewer
  meta(http-equiv="Cache-Control",content="no-cache")
  meta(name="viewport", content="width=device-width")
  script(src="/js/jquery-1.8.1.min.js", type="text/javascript")
  script(src="/js/bootstrap.min.js", type="text/javascript")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/fexy.css')
  script(src="/js/fexy.js", type="text/javascript")
  //[if lte IE 8]><script type="text/javascript" src="/js/html5.js"></script><![endif]
 body
  header.navbar.navbar-fixed-top
   #Information.container-fluid Information Area
   #Navi.navbar-inner.hide
    button.btn.btn-navbar.pull-left(type="button",data-toggle="collapse",data-target=".nav-collapse")
     span.icon-bar
     span.icon-bar
     span.icon-bar
    form#Search.pull-right.container-fluid.form-search.navbar-form(name="Search", action="#",method="get")
     .input-append
      input.span2.search-query(type="text")
      button.btn(type="submit")
       i.icon-search
    .nav-collapse.collapse
     ul#NaviMenu.nav
      li
       a(href="#")
        i.icon-tags
        | Tags
      li.dropdown
       a.dropdown-toggle#dropdown-f(role="button", data-toggle="dropdown", data-target="#", href="#")
        i.icon-folder-open
        | Folder
       ul.dropdown-menu(role="menu", aria-labelledby="dropdown-f")
        li
         a.json(href="/upstream")
          i.icon-arrow-up
          | Upstream
        li
         a.json(href="/syncAll")
          i.icon-refresh
          | Sync all folders
      li
       a(href="/user/logout")
        i.icon-off
        | Logout
  #Wrapper
   .container-fluid
    #Message.alert.alert-info.hide
     button.close(type="button") ×
     span
    #Error.alert.alert-error.hide
     button.close(type="button") ×
     span
   #Login.view.hide.container-fluid
    form#LoginForm.box(name="LoginForm", action="/user/login.json",method="post")
     label UserID
     input#username.input-block-level(type="text", name="username", placeholder="Input UserID here.", maxlength="12", "ime-mode"="off")
     label Password
     input#password.input-block-level(type="password", name="password", placeholder="Input Password here.", maxlength="12", "ime-mode"="off")
     input#submitLogin.btn.btn-primary(type="submit",value="Login", data-loading-text="Loading...")
   #Index.view.hide
    ul.media-list
     li.media.container-fluid.hide
      img.pull-left.media-object.mediaData(src="/img/noimage.jpg", data-src="thumbnail_s")
      .media-body
       h4.mediaData.media-heading(data-src="name") (non-title)
       p.mediaData(data-src="tags") (non-tags)
   #Detail.view.hide
    .menu.container-fluid
     .menu-more.pull-right.dropdown
      a.btn.dropdown-toggle#dLabel(role="button", data-toggle="dropdown", data-target="#", href="#")
       | More 
       b.caret
      ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
       li
        a(href="#")
         i.icon-download-alt
         &nbsp;Download
       li
        a(href="#")
         i.icon-download
         &nbsp;Download Zip
       li.divider
       li
        a(href="#").sync
         i.icon-refresh
         &nbsp;Sync
       li.divider
       li
        a(href="#")
         i.icon-plus
         &nbsp;Upload File
       li.divider
       li
        a(href="#")
         i.icon-trash
         &nbsp;Delete
     .menu.btn-group
      a.btn(href="#")
       i.icon-list-alt
       &nbsp;List
      a.btn.btn-primary.fullView(href="#")
       i.icon-fullscreen
       &nbsp;Full View
    .media.container-fluid
     img.pull-left.media-object.mediaData(src="/img/noimage.jpg", data-src="thumbnail_m")
     .media-body
      h3.mediaData.media-heading(data-src="name") Non-Title
      p.mediaData(data-src="description") Non description
    .files.container-fluid
     h5 Files
     ul.file-list.nav.nav-list
      li.hide
       i.icon-file
       span.fileData(data-src="name")
   #Full.view.hide
    .controlls.btn-group
      a.btn.btnPrev.disabled(href="#")
       i.icon-backward
       &nbsp;Prev
      a.btn.btnBack.btn-primary.fullView(href="#")
       i.icon-th-list
      a.btn.btnNext.disabled(href="#")
       i.icon-forward
       &nbsp; Next
    .contents
   