#Full.view.hide
 .controlls.btn-group
   a.btn.btnPrev.disabled(href="#")
    i.icon-backward
    &nbsp;Prev
   a.btn.btnBack.btn-primary.fullView(href="#")
    i.icon-th-list
   a.btn.btnNext.disabled(href="#")
    i.icon-forward
    &nbsp; Next
 .contents
   