doctype 5
html
 head
  title Fexy Manager || Web strage explorer and viewer
  meta(http-equiv="Cache-Control",content="no-cache")
  meta(name="viewport", content="width=device-width")
  script(src="/js/jquery-1.8.1.min.js", type="text/javascript")
  script(src="/js/bootstrap.min.js", type="text/javascript")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/fexy.css')
  script(src="/js/fexy.js", type="text/javascript")
  //[if lte IE 8]><script type="text/javascript" src="/js/html5.js"></script><![endif]
 body
  include navi.jade
  include login.jade
  include list.jade
  include detail.jade
  include full.jade